.lista-planetas {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.link {
  display: inline-block;
  background-color: #ff5722;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #e64a19;
}

.form-container {
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ff5722;
  margin-right: 1rem;
  width: 30%;
}

button {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #e64a19;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  
  align-items: center;
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
margin: 20px;
}

li p {
  margin: 0;
}

.remove-button {
  margin-top: 30px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #e64a19;
}

  body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  
  }
  
  .containerHome {
    padding: 2rem;
      margin-top: 300px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .link-agenda {
    background-color: #ff5722;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .link-agenda:hover {
      background-color: #555;
    }
  

  .link-home {
    transition: background-color 0.3s ease;
    display: inline-block;
    background-color: #ff5722;
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-home:hover {
    background-color: #555;
  }

  img{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }
  
  .idAtiv{
      font-size: 1.25rem;
      margin: 0;
      font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      justify-content: space-between;
      
  }